<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/scroll.css">
    <link rel="stylesheet" href="/bootstrap/css/app.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    <title>Conference Assistant</title>

</head>
<body>
<header th:replace="${#authorization.expression('!isAuthenticated()')} ? ~{fragment/header :: sign-in-header} : ~{fragment/header :: cabinet-header}"></header>
<div class="container-fluid">
    <a class="btn-back text-muted" th:href="${'/moderator'}" role="button">
        <i class="fa fa-chevron-left  text-secondary"></i>
        <span style="margin-left: 5px">Return to cabinet</span>
    </a>
    <div class="row justify-content-center border-0" style="margin-top: 25px">
        <div class="card col-7 border-0">
            <div th:replace="fragment/edit :: header(topicId = ${topicId})"></div>
            <form method="POST" enctype="multipart/form-data" action="/edit/topic/info">
                <input type="text" hidden="hidden" name="topicId" th:value="${topicId}"/>
                <div class="row no-gutters">
                    <div class="col-12" style="padding-top: 25px">
                        <h5 style="margin-bottom: 15px">Edit topic info</h5>
                        <div class="form-group">
                            <textarea class="form-control" th:text="${topic.info}" name="info" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <input type="submit" class="btn btn-success" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/request/question.js"></script>

</body>
</html>



