<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/scroll.css">
    <link rel="stylesheet" href="/bootstrap/css/app.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

    <title>Conference Assistant</title>

</head>
<body>
<header th:replace="${#authorization.expression('!isAuthenticated()')} ? ~{fragment/header :: sign-in-header} : ~{fragment/header :: cabinet-header}"></header>
<div class="container-fluid">
    <a class="btn-back text-muted" th:href="${'/moderator'}" role="button">
        <i class="fa fa-chevron-left  text-secondary"></i>
        <span style="margin-left: 5px">Return to cabinet</span>
    </a>
    <div class="row justify-content-center border-0" style="margin-top: 25px">
        <div class="card col-7 border-0">

            <form method="POST" enctype="multipart/form-data" th:object="${topic}" th:action="${'/edit/topic/main/' + topic.topicId}">
                <input type="text" hidden="hidden" name="topicId" th:value="${topic.topicId}"/>
                <div class="row no-gutters">

                    <div class="col-6" style="padding-top: 25px">
                        <h5 style="margin-bottom: 15px">Change cover photo</h5>
                        <div class="form-row">
                            <input id="originPhoto" type="text" hidden="hidden" name="coverPhoto"
                                   th:value="${topic.coverPhoto}"/>
                            <div class="image-preview" id="imagePreview">
                                <img src="" th:src="${topic.coverPhoto}" alt="Image Preview"
                                     class="image-preview__image">
                            </div>
                            <div class="alert alert-danger form-row" th:if="${#fields.hasErrors('coverPhoto')}"
                                 th:errors="${topic.coverPhoto}">Name Error
                            </div>
                        </div>

                        <div class="form-row" style="margin-bottom: 20px">
                            <input type="file" name="inpFile" id="inpFile"/>
                        </div>
                    </div>

                    <div class="col-6" style="padding-left: 25px; padding-top: 25px">
                        <h5 style="margin-bottom: 15px">Change topic name</h5>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <input type="text" class="form-control" th:field="${topic.name}" name="name" id="name">
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col">
                                <h5 style="margin-bottom: 15px">Date of Topic</h5>
                                <input type="datetime-local" name="beginDateTime" th:field="${topic.beginDateTime}"
                                       max="2025-12-31T23:59"
                                       th:attr="min=${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd') + 'T' + #temporals.format(#temporals.createNow(), 'HH:mm')}, max=${#temporals.year(#temporals.createNow()) + '-12-31' + 'T' + '23:59'}"
                                       class="form-control">
                            </div>
                            <div class="col">
                                <h5 style="margin-bottom: 15px">Finish Time</h5>
                                <input type="time" name="finishTime" th:field="${topic.finishTime}"
                                       class="form-control">
                                <div class="alert alert-danger form-row" th:if="${#fields.hasErrors('finishTime')}"
                                     th:errors="${topic.finishTime}">Name Error
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-danger form-row" th:if="${#fields.hasErrors('beginDateTime')}"
                             th:errors="${topic.beginDateTime}">Name Error
                        </div>

                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12" style="padding-top: 25px">
                        <h5 style="margin-bottom: 15px">Edit topic info</h5>
                        <div class="form-group">
                            <textarea class="form-control" name="info" th:field="*{info}" rows="5"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <input type="submit" class="btn btn-success" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/edit/edit.js"></script>


</body>
</html>



