<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">


    <title>Admin page - Edit user</title>
</head>
<body>
<div style="text-align: center;">
<div class="col-md-8 order-md-1">
    <h4 class="mb-3">Add User</h4>
    <form th:action="@{/admin/users/new}" method="post" class="needs-validation" novalidate="" >
         <div class="mb-3">
            <input id="userId" name="userId" class="form-control" type="hidden"/>
            <label for="email">Email * <span class="text-muted">(Required and must be unique)</span></label>
            <input type="email" name="email" class="form-control" id="email">
         </div>

        <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">First name </label>
                <input type="text" name="firstName" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" name="lastName" class="form-control" id="lastName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>
        </div>
        <div style="text-align: left">
        <div class="mb-3">Roles<span class="text-muted"></span></div>
          <div th:each="currentRole : ${availableRoles}">
            <input type="checkbox" id="roles" name="roles" th:value="${currentRole.rolesId}" />
           <i><label th:text="${currentRole.role}"/></i>
         </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>

    </form>
</div>

</div>
</body>
</html>