<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">


    <title>Admin page - Edit user</title>
</head>
<body>
<header th:replace="${#authorization.expression('!isAuthenticated()')} ? ~{fragment/header :: sign-in-header} : ~{fragment/header :: cabinet-header}"></header>
<div style="text-align: center;">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Edit User </h4>
        <form th:action="@{'/admin/users/edit/' + ${userDTO.getUserId()}}" th:object="${userDTO}" method="post" class="needs-validation" novalidate="" >
            <div class="mb-3">
                <input id="userId" th:for="userId" th:field="*{userId}" class="form-control" type="hidden"/>
                <label th:for="email">Email *</label>
                <div th:if="${badEmail}" class="text-danger">This email is already exist</div>
                <div th:errors="*{email}" class="text-danger"></div>
                <input type="email" th:field="*{email}" class="form-control"/>
            </div>

            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" name="password" th:value="*{password}" class="form-control" id="password">
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">First name </label>
                    <input type="text" name="firstName" th:field="*{firstName}" class="form-control" id="firstName" placeholder="" value="" required="">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" name="lastName" th:field="*{lastName}" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>
            </div>
            <div style="text-align: left">
                <div class="mb-3">Roles *<span th:errors="*{roles}" class="text-danger"></span></div>
                <div style="font-style: italic" th:each="currentRole : ${availableRoles}">
                    <input type="checkbox" id="roles" name="roles" th:field="*{roles}" th:value="${currentRole}" th:text="${currentRole.substring(5)}"/>
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>&nbsp; Edit</button>
        </form>
            <a th:href="@{/admin/users/}" type="submit" value="Back" class="btn btn-light btn-lg btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</a>
    </div>

</div>
</body>
</html>