<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/app.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">


    <title>Add new conference</title>
    <style>
        .image-preview {
            width: auto;
            min-height: auto;
            border: 2px solid #dddddd;


            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: #cccccc;
        }

        .image-preview__image {
            width: 100%;
        }


    </style>
</head>
<body>
<header th:replace="${#authorization.expression('!isAuthenticated()')} ? ~{fragment/header :: sign-in-header} : ~{fragment/header :: cabinet-header}"></header>
<div style="text-align: center;">
<div class="col-md-8 order-md-1 mx-auto mt-3">

    <h4 class="mb-3">Add new conference</h4>

    <form th:object="${conferenceDTO}" enctype="multipart/form-data" method="post" class="needs-validation" novalidate="" >
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input id="conferenceId" name="conferenceId" type="hidden"/>

        <div class="mb-3">
            <label for="name">Add cover photo</label>
            <div class="form-row">
                <input id="originPhoto" type="text" hidden="hidden" th:value="*{getCoverPhoto()}" />
                <div class="image-preview" id="imagePreview">
                    <img src="" th:src="*{coverPhoto}" alt="Image Preview"
                         class="image-preview__image">
                </div>
            </div>
            </div>
            <div class="form-row" style="margin-bottom: 20px">
                <input type="file" name="inpFile" id="inpFile"/>
            </div>

         <div class="mb-3">
            <label for="name">Name</label>
             <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
             <div class="form-group">
            <input id="name" name="name" type="text" class="form-control"/>
             </div>
         </div>

        <div class="form-row">
            <div class="col-12" style="padding-top: 10px">
                <label for="info">Info</label>
                <div class="form-group">
                    <textarea class="form-control" id="info" name="info" rows="5"></textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="venue">Venue</label>
            <input id="venue" name="venue" type="text" class="form-control"/>
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('finishDate')}" th:errors="*{finishDate}" >Date Error</div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="beginDate">Begin date </label>
                <input id="beginDate" name="beginDate" type="datetime-local"/>
            </div>
            <div class="col-md-6 mb-3">
                <label for="finishDate">Finish date </label>
                <input id="finishDate" name="finishDate" type="datetime-local"/>
            </div>
        </div>

            <label for="alias">Alias </label>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}">Alias Error</div>
            <input id="alias" name="alias" type="text"/>


        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add</button>
    </form>
        <a th:href="@{/dashboard/conferences/}" type="submit" value="Back" class="btn btn-light btn-lg btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</a>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/js/edit/edit.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>