<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/app.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">


    <title>List of streams</title>
</head>
<body>
<header th:replace="${#authorization.expression('!isAuthenticated()')} ? ~{fragment/header :: sign-in-header} : ~{fragment/header :: cabinet-header}"></header>
<div style="text-align: center;">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">List of streams</h4>
        <a th:href="${'/dashboard/conferences'}" th:method="POST">
            <button type="submit" class="btn btn-secondary"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Go back to dashboard</button>
        </a>
        <a th:href="@{'/dashboard/conferences/'+ ${confId} +'/stream/new'}" th:method="GET">
            <button type="submit" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add Stream</button>
        </a>
        <br/>
        <br/>
        <table class="table table-striped">

            <td><b>Stream name</b></td>
            <td><b>Stream Moder</b></td>
            <td><b>Edit</b></td>
            <td><b>Delete</b></td>
            <tr th:each="stream : ${listStreams}">
            <td>
                <a th:href="@{'/dashboard/conferences/' + ${stream.getConference()} + '/stream/' + ${stream.getStreamId()} + '/topics'}" th:text="${stream.name}"/>
            </td>
            <td>
                <div th:with="moder=${stream.moderator}">
                    <div th:each="person : ${availableModer.?[participantId == __${moder}__]}">
                        <span th:text="${person.firstName}"></span>
                        <span th:text="${person.lastName}"></span>
                        <span th:text="'('+${person.email}+')'"></span>
                    </div>
                 </div>
            </td>
            <td >
                <form th:action="@{'/dashboard/conferences/' + ${stream.getConference()} + '/stream/edit/' + ${stream.getStreamId()}}" th:method="patch">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp; Edit</button>
                </form>
            </td>
            <td >
                <form th:action="@{'/dashboard/conferences/' + ${stream.getConference()} + '/stream/delete/' + ${stream.getStreamId()}}" th:method="delete">
                    <button type="submit" value="Delete" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete</button>
                </form>
            </td>
            </tr>
        </td>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/bootstrap/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</div>
</body>
</html>