<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">


    <title th:text="'New stream'"/>
</head>
<body>
<header th:replace="${#authorization.expression('!isAuthenticated()')} ? ~{fragment/header :: sign-in-header} : ~{fragment/header :: cabinet-header}"></header>
<div style="text-align: center;">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3"  th:text="'Add new Stream'"></h4>
        <form th:action="@{'/dashboard/conferences/'+ ${confId} +'/stream/new/save/'}" th:object="${streamDTO}" method="POST" class="needs-validation" novalidate="" >
            <input id="streamId" name="streamId" type="hidden"/>
            <input id="conference" name="conference" th:value="${confId}" type="hidden"/>
            <div class="mb-3">
                <label for="streamName">Stream name</label>
                <input type="text" name="stream"  th:field="*{name}" class="form-control" id="streamName"/>
            </div>
            <td>
                <label th:text="'Select moderator '"></label>
                <select th:field="*{moderator}">
                    <option th:value="${currentUser}">&nbsp;</option>
                    <option th:each="moder : ${availableModer}"
                            th:value="${moder.participantId}"
                            th:text="${moder.email}">
                    </option>
                </select>
            </td>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>&nbsp; Save</button>
        </form>
        <a th:href="@{'/dashboard/conferences/' + ${confId} + '/stream/'}" type="submit" value="Back" class="btn btn-light btn-lg btn-block"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back</a>
    </div>
</div>
</body>
</html>