<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="sign-in-header">
    <div class="container-fluid ">
        <div class="row justify-content-center border-bottom">
            <nav class="navbar navbar-light col-7 ">
                <a href="/" class="navbar-brand"><img style="max-height: 30px" src="/picture/img/logo/logo.jpg"
                                                      alt="logo"></a>
                <form class="form-inline">
                    <a th:href="${'/login'}" class="btn btn-sm my-2 my-sm-0 text-white"
                       style="background-color: rgba(255,103,55,0.94)"
                       type="submit">Sign in
                    </a>
                </form>
            </nav>
        </div>
    </div>
</header>

<header th:fragment="cabinet-header">
    <div class="container-fluid ">
        <div class="row justify-content-center border-bottom">
            <nav class="navbar navbar-light col-7 ">
                <a href="/" class="navbar-brand"><img style="max-height: 30px" src="/picture/img/logo/logo.jpg"
                                                      alt="logo"></a>
                <form class="form-inline">
                    <th:block sec:authorize="hasRole ('ROLE_USER') || hasRole('ROLE_ADMIN') || hasRole('ROLE_CONFOWNER')">
                        <a th:href="${'/edit/profile'}" class="btn btn-sm my-2 my-sm-0 text-white"
                           style="background-color: rgba(255,103,55,0.94); margin-left: 5px"
                           type="submit">My profile
                        </a>
                    </th:block>
                    <th:block sec:authorize="hasRole ('ROLE_USER') && hasAuthority('speaker')">
                        <div class="btn btn-sm my-2 my-sm-0 text-white btn-secondary" style="margin-left: 5px">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <a th:href="${'/speaker'}" class="text-white"
                           style="background-color: rgba(255,103,55,0.94)"
                           type="submit">My cab
                        </a>
                        </div>
                    </th:block>
                    <th:block sec:authorize="hasRole ('ROLE_USER') && hasAuthority('moder')">
                        <div class="btn btn-sm my-2 my-sm-0 text-white" style="background-color: rgba(255,103,55,0.94); margin-left: 5px">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a th:href="${'/moderator'}" class="text-white"
                               type="submit">My cab
                            </a>
                        </div>
                    </th:block>
                    <th:block sec:authorize="hasRole ('ROLE_ADMIN')">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <a th:href="${'/admin/users'}" class="btn btn-sm my-2 my-sm-0 text-white"
                           style="background-color: rgba(255,103,55,0.94); margin-left: 5px"
                           type="submit">Manage users
                        </a>
                    </th:block>
                    <th:block sec:authorize="hasRole ('ROLE_CONFOWNER') || hasRole ('ROLE_ADMIN') || hasAuthority('admin')">
                        <a th:href="${'/dashboard/conferences'}" class="btn btn-sm my-2 my-sm-0 text-white"
                           style="background-color: rgba(255,103,55,0.94);  margin-left: 5px"
                           type="submit">Manage conference
                        </a>
                    </th:block>
                    <div class="btn btn-sm my-2 my-sm-0 text-white btn-secondary" style="margin-left: 5px">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <a th:href="${'/schedule'}" class="text-white" type="submit">Schedule</a>
                    </div>
                    <div class="btn btn-sm my-2 my-sm-0 text-white btn-secondary" style="margin-left: 5px">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <a th:href="${'/log-out'}" class="text-white" type="submit">Log out</a>
                    </div>
                </form>
            </nav>
        </div>
    </div>
</header>
</body>
</html>