<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="sign-in-header">
    <div class="container-fluid ">
        <div class="row justify-content-center border-bottom">
            <nav class="navbar navbar-light col-7 ">
                <a href="/" class="navbar-brand"><img style="max-height: 30px" src="/picture/img/logo/logo.jpg"
                                                      alt="logo"></a>

                <div class="form-inline">
                    <form method="get" action="/search" class="form-inline">
                        <div th:if="${confNotFound}" style="color:rgba(255,103,55,0.94)">Conference not found</div>
                        <input  class="mr-sm-2 my-sm-0" type="text" id ="text" name="alias" placeholder=" Find conference by alias ">
                        <button class="btn btn-sm my-2 my-sm-0 text-white" style="background-color: rgba(255,103,55,0.94); margin-left: 5px" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search </button>
                    </form>
                    <a th:href="${'/schedule'}" class="btn btn-sm my-2 my-sm-0 text-white btn-secondary" style="margin-left: 5px">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <span class="text-white" type="submit">Schedule</span>
                    </a>
                    <a th:href="${'/login'}" class="btn btn-sm my-2 my-sm-0 text-white"
                       style="background-color: rgba(255,103,55,0.94); margin-left: 5px"
                       type="submit">Sign in
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>

<header th:fragment="cabinet-header">
    <div class="container-fluid ">
        <div class="row justify-content-center border-bottom">
            <nav class="navbar navbar-light col-7 ">
                <a href="/" class="navbar-brand"><img style="max-height: 30px" src="/picture/img/logo/logo.jpg"
                                                      alt="logo"></a>

                <div class="form-inline">
                    <form method="get" action="/search" class="form-inline">
                        <div th:if="${confNotFound}" style="color:rgba(255,103,55,0.94)">Conference not found</div>
                        <input  class="mr-sm-2 my-sm-0" type="text" id ="txt" name="alias" placeholder="Find conference by alias">
                        <button class="btn btn-sm my-2 my-sm-0 text-white" style="background-color: rgba(255,103,55,0.94); margin-left: 5px" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search </button>
                    </form>
                    <a th:href="${'/schedule'}" class="btn btn-sm my-2 my-sm-0 text-white btn-secondary"
                       style="margin-left: 5px">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <span class="text-white" type="submit">Schedule</span>
                    </a>
                    <div class="dropdown" style="margin-left: 5px">
                        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My cab
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a th:href="${'/edit/profile/main'}" class="dropdown-item small">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>My profile</span>
                            </a>
                            <th:block sec:authorize="hasRole ('ROLE_USER') && hasAuthority('moder')">
                                <a th:href="${'/moderator'}" class="dropdown-item small">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    <span>My Topics</span>
                                </a>
                            </th:block>
                            <th:block sec:authorize="hasRole ('ROLE_USER') && hasAuthority('speaker')">
                                <a th:href="${'/speaker'}" class="dropdown-item small">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    <span>My Topics</span>
                                </a>
                            </th:block>
                            <th:block
                                    sec:authorize="hasRole ('ROLE_CONFOWNER') || hasRole ('ROLE_ADMIN') || hasAuthority('admin')">
                                <a th:href="${'/dashboard/conferences'}" class="dropdown-item small">
                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                    <span>Manage conference</span>
                                </a>
                            </th:block>
                            <th:block sec:authorize="hasRole ('ROLE_ADMIN')">
                                <a th:href="${'/admin/users'}" class="dropdown-item small">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span>Manage users</span>
                                </a>
                            </th:block>
                            <div class="dropdown-divider"></div>
                            <a href="javascript: document.logoutForm.submit()" class="dropdown-item small"
                               role="menuitem">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <span>Logout</span>
                            </a>
                            <form th:action="@{/log-out}" name="logoutForm" method="post" hidden="hidden">
                                <input type="submit"/>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
</body>
</html>