<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">


    <title>Conference dashboard</title>
</head>
<body>
<header th:replace="${#authorization.expression('!isAuthenticated()')} ? ~{fragment/header :: sign-in-header} : ~{fragment/header :: cabinet-header}"></header>
<div style="text-align: center;">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Conference dashboard</h4>
        <form th:action="@{/conf/owner/newConf}" method="get">
            <button type="submit" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Add new Conference</button>
        </form>
        <br/>
        <table class="table table-striped">

            <td><b>Conference name</b></td>
            <td><b>Conference owner</b></td>
            <td><b>Manage participants</b></td>
            <td><b>Edit</b></td>
            <td><b>Delete</b></td>


            <tr th:each="conf : ${conferences.getConferenceList()}">
                <td>
                    <a th:href="@{'/dashboard/conferences/' + ${conf.conferenceId} + '/stream/'}" th:text="${conf.name}"/>
                </td>
                <td th:text="${conf.owner}"/>
<!--     TODO           <td>-->
<!--                    <div th:with="ConfOwner=${conf.owner}">-->
<!--                        <div th:each="person,rowStat : ${allUser.?[email ==__${ConfOwner}__]}">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->

                <td >
                    <form th:action="@{'/conf/owner/{id}'(id=${conf.conferenceId})}" th:method="patch">
                        <button type="submit" class="btn btn-info"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Manage</button>
                    </form>
                </td>
                <td >
                    <form th:action="@{'/dashboard/conferences/edit/{id}'(id=${conf.conferenceId})}" th:method="patch">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp; Edit</button>
                    </form>
                </td>
                <td >
                    <form th:action="@{'/dashboard/conferences/delete/{id}'(id=${conf.conferenceId})}" th:method="delete">
                        <button type="submit" value="Delete" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

</div>
</body>
</html>