<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">

    <title>Hello, world!</title>
</head>
<body>

<div class="container" >
    <div class="row-12">
        <h1><a th:href="@{/login-User}">Login as User</a></h1>
        <h1></h1>
        <h6><a th:href="@{/login-admin}">Login as administrator</a></h6>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="bootstrap-4.4.1-dist/js/jquery.slim.min.js"></script>
<script src="bootstrap-4.4.1-dist/js/popper.min.js"></script>
<script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

</body>
</html>