<!DOCTYPE HTML>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">

    <title>Hello, world!</title>

</head>
<body>

<div class="container">
        <form id="customerForm">
            <div class="form-group">
                <label for="firstName" >FirstName:</label>
                <input type="text" id="firstName" placeholder="Enter FirstName"/>
            </div>
            <div class="form-group">
                <label for="lastName" >LastName:</label>
                <input type="text" id="lastName" placeholder="Enter LastName"/>
            </div>
            <button type="submit" class="btn btn-default" >Submit</button>
        </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="bootstrap-4.4.1-dist/js/popper.min.js"></script>
<script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
<script src="/js/request/postrequest.js"></script>
</body>
</html>