<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">

    <title>Hello, world!</title>
</head>
<body>

<div class="container" >
    <div class="row justify-content-center">
        <div class="card col-12 ">
            <div class="card-header">
                Conferences
            </div>
            <div class="card-body">
                <div th:each="conference, index : ${conferences}">
                    <div class="accordion"   th:attr="id=${'accordionExample1' + conference.getAlias()}" >
                        <div class="card">
                            <div class="card-header" th:attr="id=${'headingOne1' + conference.getAlias()}">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" th:text="${conference.getName()}" th:attr="data-target=${'#collapseOne1' + conference.getAlias()}, aria-controls=${'collapseOne1' + conference.getAlias()}" data-toggle="collapse" aria-expanded="true" >
                                        Collapsible Group Item #1
                                    </button>
                                </h2>
                            </div>

                            <div class="collapse " th:attr="data-parent=${'#accordionExample1' + conference.getAlias()}, aria-labelledby=${'headingOne1' + conference.getAlias()}, id=${'collapseOne1' + conference.getAlias()}" >
                                <div class="card-header" th:text="${conference.getInfo()}">
                                </div>
                                <div class="card-body" th:each="stream : ${conference.getStreamList()}">
                                    <span th:text="${stream.getName()}"></span>
                                    <div class="card-body" th:each="topic : ${stream.getTopicList()}">
                                        <a th:href="@{/topic}">
                                        <span th:text="${topic.getDate()}"></span>
                                        <span th:text="${topic.getBeginTime()}"></span>
                                        <span th:text="${topic.getFinishTime()}"></span>
                                        <span th:text="${topic.getSpeaker().getFirstName() + ' ' + topic.getSpeaker().getLastName()}"></span>
                                        <span th:text="${topic.getName()}"></span>
                                        <span th:text="${topic.getInfo()}"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="bootstrap-4.4.1-dist/js/jquery.slim.min.js"></script>
<script src="bootstrap-4.4.1-dist/js/popper.min.js"></script>
<script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

</body>
</html>