<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/all.min.css">

    <title>Hello, world!</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form th:action="@{/login-handler}" th:object="${loginForm}" method="post" style="margin-top: 15px">
                <div class="form-group text-center">
                    <h4>Login</h4>
                </div>
                <div class="form-group">
                    <input style="border-style: outset; margin-top: 20px" type="password" class="form-control" name="password" placeholder="Enter password">
                    <input type="hidden" name="email" th:value="*{email}">
                    <button style="margin-top: 15px; background-color: rgba(255,103,55,0.94)" type="submit" class="btn text-white btn-block">Enter</button>
                    <a href="#" id="emailHelp" class="form-text text-muted text-center" style="margin-top: 15px">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/bootstrap/js/jquery.slim.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>